
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <div style="text-align:center;width:100%">
            <a href="/Test/Home">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Test/About">About Us</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Test/Contact">Contact Us</a>
        </div>
        <h1 style="text-align:center">Contact Us Page</h1>
        @{
            string s = "This is Contact Us page";

        }
        <h2>@s</h2>
    </div>
</body>
</html>
